body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

// TODO: Kom ihåg den för light mode
footer {
  #level-1 {
    fill: #5c5c5c;
  }
  #level-2 {
    fill: #4f4f4f;
  }
  #level-3 {
    fill: #404040;
  }
}
